
h1{
    text-align: center;
    padding: 15px;
    background-color:rgb(22, 56, 83); 
    color: white;
}

#user_name {

    padding: 5px;
    margin-left: 30;
    width:280px;
    height: 40px;
    text-align: center;
    background-color: whitesmoke;
    font-size: 18px;
    border: 2px solid greenyellow;
    border-radius: 5px;
}




.fontuser i{ 
    position: absolute; 
    margin-top:23px ;
    color: gray; 
    width:90px;
} 
.fontuser { 
    position: relative; 
} 
  
  
img{
    margin-left:29%  ;
    height:30%;
    width:40% ;
}
#firsttext{  
            
            padding: 12px 20px;  
             
            display: inline-block;  
            
        }  

.con {
    position: relative;
    text-align:center;
   padding-top: 8px;
}
input{
  
    padding: 8px;
    margin: 10px;


}
label
{
    margin-right: 30px;
     padding: 10px;
    font-size: 18px;
    border:1px solid rgb(48, 87, 16);
    background-color: white;
    border-radius:80px;
    padding-left: 25px;
    padding-right: 25px;
 }

 

#thirdtext
{
    padding-left: 35px;
    padding-right: 35px;
}

#fivetext
{
    padding-left: 45px;
    padding-right: 45px;
    
}


input[type="text"], input[ type="password"]
{
    margin-left: 20px;
    height:45px;
    width:170px;
    border-radius: 10px;
    
}



input,a[type="button"]
{
    text-decoration: none;
    border: 2px solid rgb(0, 26, 255);
    width:90px;
    background-color:rgb(196, 240, 232);
    border-radius: 10px;
    color:rgb(56, 63, 122);
    padding: 12px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    
}
#reg
{
    margin-left: 370px;
}


.error{
    border:4px solid red;
}

span{
    display:none;
}


#Attbtn
{
    width:250px;

}


#divvs
{
    background-color: rgb(22, 56, 83); ;
    margin-top: 30px;
    display:none;
    width: 500px;
    border-radius: 10%;
    text-align: center;

}




#closee
{
    margin-left: 20px;
}